<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>EventosAPP</title>
</head>
<body>
<h1>Cadastro de Eventos:</h1>
<form method="post">
    <!-- Campo de entrada para o nome do evento -->
    Nome: <input name="nome" type="text" value="" />

    <!-- Campo de entrada para o local do evento -->
    Local: <input name="local" type="text" value="" />

    <!-- Campo de entrada para a data do evento -->
    Data: <input name="data" type="date" value="" />

    <!-- Campo de entrada para a hora do evento -->
    Hora: <input name="hora" type="time" value="" />

    <!-- Botão para enviar o formulário e salvar o evento -->
    <button type="submit">Salvar</button>
</form>
</body>
</html>
